<div id="slider">
    <ul>
        <li style="background-image:url(/images/0.jpg)">
            <h3>Make your life better</h3>
            <h2>Genuine diamonds</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
        <li class="purple" style="background-image: url(/images/01.jpg)">
            <h3>She will say “yes”</h3>
            <h2>engagement ring</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
        <li class="yellow" style="background-image: url(/images/02.jpg)">
            <h3>You deserve to be beauty</h3>
            <h2>golden bracelets</h2>
            <a href="#" class="btn-more">Read more</a>
        </li>
    </ul>
</div>


<div id="body">
    <div class="container">
        <div class="last-products">
            <h2>Sale products</h2>
            <section class="products">
                @{
                    foreach (var item in ViewBag.Sales)
                    {
                <article>
                    <a href="/Products/ProductDetails?idPro=@item.ID_PRO"><img src="@item.PATH" alt="" class="card-img-top img" height="200" width="100"></a>
                    <h3>@item.NAME</h3>
                    <h4>@string.Format("{0:n0}", @item.PRICE) VNĐ</h4>
                    <a href="#" class="addcart btn-add" dataPro="@item.ID_PRO" dataNamePro="@item.NAME" dataPricePro="@item.PRICE" dataPath="@item.PATH" dataDetail="@item.TITLE">Add to cart</a>
                    
                </article>
                    }
                }
            </section>
        </div>

        <div class="last-products">
            <h2>Favorite products</h2>
            <section class="products">
                @{
                    foreach (var item in ViewBag.Favors)
                    {
                        <article>
                            <a href="/Products/ProductDetails?idPro=@item.ID_PRO"><img src="@item.PATH" alt="" class="card-img-top img" height="200" width="100"></a>
                            <h3>@item.NAME</h3>
                            <h4>@string.Format("{0:n0}", @item.PRICE) VNĐ</h4>
                            <a href="#" class="addcart btn-add" dataPro="@item.ID_PRO" dataNamePro="@item.NAME" dataPricePro="@item.PRICE" dataPath="@item.PATH" dataDetail="@item.TITLE">Add to cart</a>
                        </article>
                    }
                }
            </section>
        </div>


        <section class="quick-links">
            <article style="background-image: url(/images/02.jpg)">
                <a href="#" class="table">
                    <div class="cell">
                        <div class="text">
                            <h4>Lorem ipsum</h4>
                            <hr>
                            <h3>Dolor sit amet</h3>
                        </div>
                    </div>
                </a>
            </article>
            <article class="red" style="background-image: url(/images/0.jpg)">
                <a href="#" class="table">
                    <div class="cell">
                        <div class="text">
                            <h4>consequatur</h4>
                            <hr>
                            <h3>voluptatem</h3>
                            <hr>
                            <p>Accusantium</p>
                        </div>
                    </div>
                </a>
            </article>
            <article style="background-image: url(/images/01.jpg)">
                <a href="#" class="table">
                    <div class="cell">
                        <div class="text">
                            <h4>culpa qui officia</h4>
                            <hr>
                            <h3>magnam aliquam</h3>
                        </div>
                    </div>
                </a>
            </article>
        </section>
    </div>

</div>

